/* Tabel Custom */
.custom-table-mono {
    width: auto !important; 
    min-width: 100%;        
    table-layout: auto; 
}

/* Mengatur semua kolom agar rata kiri dan mepet */
.custom-table-mono th, 
.custom-table-mono td {
    text-align: left !important;
    padding-left: 0 !important;
    padding-right: 25px !important; 
    white-space: nowrap;            
    width: 1px;                     
}

/* Khusus kolom Title: Paksa satu baris (nowrap) dan biarkan fleksibel */
.custom-table-mono th:nth-child(2), 
.custom-table-mono td:nth-child(2) {
    width: auto !important;         
    white-space: nowrap !important; /* DIBUAT NOWRAP AGAR TIDAK TURUN BARIS */
}

/* Khusus checkbox agar tetap di tengah */
.custom-table-mono th:last-child, 
.custom-table-mono td:last-child {
    text-align: center !important;
    padding-right: 0 !important;
    width: 40px !important;
}

